  <meta http-equiv="Content-Security-Policy" 
	content="default-src 'self' https://*youtube.com; frame-src 'self' https://*youtube.com; 
	script-src 'self' https://*.youtube.com">

{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
